# Marmalade stuff
**/build_temp/**
**/resources-ram/**
development.icf
iwtrace.txt

#ignoring project as the tutorial doesn't set any values
#you might want to un-ignore this if using hub deploy options!
**/project_*

# Other tools stuff
*.sw?
MiniDump.dmp
*.bak

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
