<config platform="android" template="android (default)">Created: Thu Apr 10 11:51:33 2014
By: jgrossman
Using Template: android (default)

&lt;description to go here><option value="" fromDef="true" name="android-icon-dir"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true" name="android-icon-group"/>
    <option value="" fromDef="true" name="android-icon-gallery"/>
    <option value="" fromDef="true" name="android-icon-nonstandard"/>
    <option value="" fromDef="true" name="android-external-res"/>
    <option value="1" fromDef="true" name="android-install-location"/>
    <option value="com.jgrossman.FlappyJam" fromDef="true" name="android-pkgname"/>
    <option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="FlappyJam" fromDef="true" name="name"/>
    <option value="FlappyJam" fromDef="true" name="caption"/>
    <option value="jgrossman" fromDef="true" name="provider"/>
    <option value="(C) jgrossman" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="android-manifest"/>
    <option value="" fromDef="true" name="android-custom-activity"/>
    <option value="" fromDef="true" name="android-extra-manifest"/>
    <option value="" fromDef="true" name="android-extra-application-manifest"/>
    <option value="" fromDef="true" name="android-extra-strings"/>
    <option value="" fromDef="true" name="android-supports-gl-texture"/>
    <option value="" fromDef="true" name="android-unsigned"/>
    <option value="" fromDef="true" name="android-tm"/>
</config>
