<config platform="ws81" template="ws81 (default)">Created: Thu Apr 10 11:51:33 2014
By: jgrossman
Using Template: ws81 (default)

&lt;description to go here><option value="" fromDef="true" name="ws81-publisher-display-name"/>
    <option value="" fromDef="true" name="ws81-publisher-id"/>
    <option value="" fromDef="true" name="ws81-identity-name"/>
    <option value="" fromDef="true" name="ws81-description"/>
    <option value="" fromDef="true" name="ws81-product-version"/>
    <option value="" fromDef="true" name="ws81-product-name"/>
    <option value="" fromDef="true" name="ws81-custom-manifest"/>
    <option value="" fromDef="true" name="ws81-custom-manifest-fill"/>
    <option value="" fromDef="true" name="ws81-logo-image150x150"/>
    <option value="" fromDef="true" name="ws81-logo-image50x50"/>
    <option value="" fromDef="true" name="ws81-logo-image30x30"/>
    <option value="" fromDef="true" name="ws81-splash-screen-image620x300"/>
    <option value="" fromDef="true" name="ws81-splash-screen-background"/>
    <option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="FlappyJam" fromDef="true" name="name"/>
    <option value="FlappyJam" fromDef="true" name="caption"/>
    <option value="jgrossman" fromDef="true" name="provider"/>
    <option value="(C) jgrossman" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="ws81-distribution-cer"/>
    <option value="" fromDef="true" name="ws81-certificate-end-date"/>
    <option value="" fromDef="true" name="ws81-distribution-pfx"/>
    <option value="" fromDef="true" name="ws81-distribution-pfx-password"/>
    <option value="" fromDef="true" name="ws81-ext-capabilities"/>
    <option value="" fromDef="true" name="ws81-ext-device-capabilities"/>
</config>
